.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.form_select_option {
  background-color: #ffffff; 
  color: #000;
  font-size: 14px;
}

.form_select{
  
  padding: 0px 50px 0px 0px;
}

.form_select::-webkit-scrollbar {
  display: none;
}


