.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.form_select_option {
  background-color: #ffffff; 
  color: #000;
  font-size: 14px;
  border: none;
}

.form_select{
  /* border: 1px solid black; */
  border-radius: 5px; /* Add border radius */
  padding: 8px; /* Add padding */
  background-color: #fff; /* Set background color */
  color: #333; /* Set text color */
}

.form_select::-webkit-scrollbar {
  display: none;
}
